html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 24px;
  overflow: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: pan-y;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px; /* Set the fixed height of the footer here */
}
